<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/test.css')}}"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}"  media="screen,projection"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
{% block nav %}
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="{{url_for('profile_bp.my_profile')}}">View</a></li>
  <li class="divider"></li>
  <li><a href="{{url_for('home_bp.logout')}}"> Logout</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">scrim.me</a>
    <a href="#" data-activates="mob" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li {% if request.path == "/live" %} class="active"{% endif %} ><a href="{{url_for('live_bp.live')}}"><i class="material-icons left">settings_remote</i>Live</a></li>
      <li {% if request.path == "/teams" %} class="active"{% endif %} ><a href="{{url_for('teams_bp.teams')}}"><i class="material-icons left">supervisor_account</i>Teams</a></li>
      <li {% if request.path == "/users" %} class="active"{% endif %} ><a href="#!"><i class="material-icons left">recent_actors</i>Players</a></li>
      <li>
      <a class="dropdown-button" style="height: 64px;" href="#!" data-activates="dropdown1"><img style="width: 64px" src="{{g.user.avatar_url_full}}" ><i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  <ul id="mob" class="side-nav">
      <li><a href="sass.html">Live</a></li>
      <li><a href="badges.html">Teams</a></li>
      <li><a href="collapsible.html">Players</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>

    </ul>

  </div>
</nav>
        
{% endblock %}
{% block body %}

{% endblock %}

{% block after_body %}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/init.js')}}"></script>
{% endblock %}

{% block footer %}
<!--
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      2015 scrim.me
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
-->
{% endblock %}
</body>
</html>
